input[type=radio]:checked{
  background-color: #d67ab1;
}
mat-spinner{
  margin: auto;
}

@media screen and (min-width:844px) {
  hr{
    border-color: #c05938;
    background-color: #c05938;
    height: 5px;
    opacity: 1;
  }
  .hrrr hr{
    border-color: #000;
    background-color: #000;
    height: 2px;
    opacity: 0.5;
  }
h1{
    font-size: 38px;
    color:#c05938;
    
}

.prodName{
    font-size: 42px;
}

.prodDetails{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}


.productDescriptionn{
    margin-right: 0%;
}

.prodImage{
    width: 95%;
}

.backToMenu{
    text-decoration: none;
    color: #d67ab1;
}

.btn-colour-1 {
    color: #fff;
    background-color: #d67ab1;
    border-color: #d67ab1;
    font-weight: 400;
    letter-spacing: 0.05em;
    border-radius: 4;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #c46fa2;
    color: #fff;
    border-color: #c46fa2;
    font-weight: bold;
  }

  p b{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }

  input[type=radio]{
    margin-left: 1rem;
}
.logoBottom{
  max-width: 5%;
}

.imageContainer {
  width: 100%; /* Width relative to the parent container */
  padding-top: 100%; /* Padding top equal to the width creates a square */
  position: relative; /* Needed for absolute positioning of the image */
}

.productImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the square, may crop the image */
  border-radius: 10px;
}
}

@media screen and (max-width:844px) {
    h1{
        font-size: 24px;
        color:#c05938;
        margin-bottom: 0%;
    }
    
    .prodName{
        font-size: 32px;
        text-align: center;
    }
    
    .prodDetails{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    hr{
      border-color: #c05938;
      background-color: #c05938;
      height: 3px;
      opacity: 1;
    }
    .hrrr hr{
      border-color: #000;
      background-color: #000;
      height: 1px;
      opacity: 0.5;
    }
    
    .prodImage{
        width: 70%;
    }
    
    .backToMenu{
        text-decoration: none;
        color: #d67ab1;
    }
    
    .btn-colour-1 {
        color: #fff;
        background-color: #d67ab1;
        border-color: #d67ab1;
        font-weight: 400;
        letter-spacing: 0.05em;
        border-radius: 4;
        margin-left: 35%;
      }
      
      .btn-colour-1:hover,
      .btn-colour-1:active,
      .btn-colour-1:focus,
      .btn-colour-1.active {
        /* let's darken #004E64 a bit for hover effect */
        background: #c46fa2;
        color: #fff;
        border-color: #c46fa2;
        font-weight: bold;
      }
    
      p b{
        font-size: 18px;
      }
      
      p{
        font-size: 16px;
      }

      .productDescriptionn{
        font-size: 18px;
        text-align: center;
      }

      input[type=radio]{
        margin-left: 12px;
    }
    .logoBottom{
      max-width: 15%;
    }
    .imageContainer {
      width: 80%; /* Width relative to the parent container */
      padding-top: 80%; /* Padding top equal to the width creates a square */
      position: relative; /* Needed for absolute positioning of the image */
    }
    .productImage {
      position: absolute;
      top: 50%; /* Position the top edge of the image at the center of the container */
      left: 50%; /* Position the left edge of the image at the center of the container */
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensures the image covers the square, may crop the image */
      border-radius: 10px;
      transform: translate(-50%, -50%); /* Shift the image back by half its width and height to center it */
    }
}