h1{
    font-size: 40px;
    color:#c05938;
    margin-bottom: 0%;
}

.prodName{
    font-size: 42px;
}

.prodDetails{
    margin-top: 6%;
    margin-bottom: 2rem;
    text-align: center;
}

.hrr{
    border-color: #c05938;
    margin-top: 5%;
    margin-right: 1%;
}

.hrrr{
    border-color: #c05938;
    margin-right: 10%;
}

.productDescriptionn{
    margin-right: 10%;
}

.prodImage{
    width: 90%;
}

.backToMenu{
    text-decoration: none;
    color: #d67ab1;
}

.btn-colour-1 {
    color: #fff;
    background-color: #d67ab1;
    border-color: #d67ab1;
    font-weight: 400;
    letter-spacing: 0.05em;
    border-radius: 4;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #c46fa2;
    color: #fff;
    border-color: #c46fa2;
    font-weight: bold;
  }

  p b{
    font-size: 20px;
  }

  p{
    font-size: 16px;
  }

  input[type=radio]{
    margin-left: 1rem;
}
  