@media screen and (min-width:844px) {
h1{
    font-size: 38px;
    color:#c05938;
    
}

.prodName{
    font-size: 42px;
}

.prodDetails{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.hrr{
    border-color: #c05938;
    margin-right: 1%;
}

.productDescriptionn{
    margin-right: 0%;
}

.prodImage{
    width: 95%;
}

.backToMenu{
    text-decoration: none;
    color: #d67ab1;
}

.btn-colour-1 {
    color: #fff;
    background-color: #d67ab1;
    border-color: #d67ab1;
    font-weight: 400;
    letter-spacing: 0.05em;
    border-radius: 4;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #c46fa2;
    color: #fff;
    border-color: #c46fa2;
    font-weight: bold;
  }

  p b{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }

  input[type=radio]{
    margin-left: 1rem;
}
}

@media screen and (max-width:844px) {
    h1{
        font-size: 24px;
        color:#c05938;
        margin-bottom: 0%;
    }
    
    .prodName{
        font-size: 32px;
        text-align: center;
    }
    
    .prodDetails{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .hrr{
        border-color: #c05938;
        margin-top: 5%;
        margin-right: 1%;
    }
    
    .hrrr{
        border-color: #c05938;
    }
    
    .prodImage{
        width: 70%;
    }
    
    .backToMenu{
        text-decoration: none;
        color: #d67ab1;
    }
    
    .btn-colour-1 {
        color: #fff;
        background-color: #d67ab1;
        border-color: #d67ab1;
        font-weight: 400;
        letter-spacing: 0.05em;
        border-radius: 4;
        margin-left: 35%;
      }
      
      .btn-colour-1:hover,
      .btn-colour-1:active,
      .btn-colour-1:focus,
      .btn-colour-1.active {
        /* let's darken #004E64 a bit for hover effect */
        background: #c46fa2;
        color: #fff;
        border-color: #c46fa2;
        font-weight: bold;
      }
    
      p b{
        font-size: 18px;
      }
      
      p{
        font-size: 16px;
      }

      .productDescriptionn{
        font-size: 18px;
        text-align: center;
      }

      input[type=radio]{
        margin-left: 12px;
    }
}