<nav class="navbar navbar-expand-lg" style="background-color: #c05938">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-controls="navbarTogglerDemo01"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-5" routerLink=""
      ><img src="/assets/logo.png" class="headerImage" alt="dsadsa"
    /></a>
    <div
      class="collapse navbar-collapse"
      [class.show]="!isMenuCollapsed"
      id="navbarTogglerDemo01"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item me-5">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" routerLink="/menu">Menu</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" routerLink="/byoc">Build-Your-Own Cake</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-4">
            <a class="nav-link" routerLink="/cart">
              <i class="bi bi-cart2"></i>
              Cart
            </a>
          </li>
          <li class="nav-item me-4" *ngIf="userIsAuthenticated">
            <a class="nav-link" routerLink="/my-orders">
              <i class="uil uil-shopping-bag"></i>
              Orders
            </a>
          </li>
          <li class="nav-item me-4" *ngIf="!userIsAuthenticated">
            <a class="nav-link" routerLink="/auth/signup">
              <i class="bi bi-person-plus-fill"></i>
              Signup</a>
          </li>
          <li class="nav-item me-4" *ngIf="!userIsAuthenticated">
            <a class="nav-link" routerLink="/auth/login">
              <i class="bi bi-person-circle"></i>
              Log-In</a>
          </li>
          <li class="nav-item me-4" *ngIf="userIsAuthenticated">
            <button (click)="onLogout()" class="btn nav-link"><i class="bi bi-box-arrow-left"></i> Logout</button>
          </li>
          <li class="nav-item me-4" *ngIf="userIsAuthenticated">
            <a class="nav-link" routerLink="/profile"><i class="bi bi-person-circle"></i>&nbsp;<b>Profile</b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
