@media screen and (min-width:844px) {
input[type=email]{
    margin: 0 2rem 1rem 2rem;
    width:70%;
    font-size: 18px;
}

input[type=password]{
    margin: 0 2rem 1rem 2rem;
    width:70%;
    font-size: 18px;
}

input[type=text]{
  margin: 0 2rem 1rem 2rem;
  width:70%;
  font-size: 18px;
}

mat-spinner{
    display: flex;
    margin: auto;
}

mat-card{
    height:100%;
}

h1{
    text-align: center;
    margin: 15%;
    color: #c05938;
    letter-spacing: 2px;
    font-size: 56px;
    font-style: bold;
}

.imagee{
    background-image: url("/assets/login1.png");
    background-size:cover;
}

.loginForms{
    background-color: #f8f7f2;
}

.inputLabels{
    color:#c05938;
    font-size: 20px;
}

.btn-colour-1 {
    color: #fff;
    background-color: #c05938;
    border-color: #c05938;
    font-weight: 500;
    letter-spacing: 0.05em;
    border-radius: 4;
    margin: 1rem;
    width: 60%;
    font-size: 18px;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #aa5032;
    color: #ffffff;
    border-color: #aa5032;
  }

  a{
    color:#c05938;
    text-decoration: underline;
  }

  .registerLabel{
    font-size: 18px;
    color: #c05938;
  }

  .innerLogin{
    height: 100vh;
  }
  
  
  .position-relative {
    position: relative;
    display: inline-block; /* Makes the container fit the content */
  }
  
  .password-input {
    width: calc(100% - 40px); /* Adjust the width to leave space for the button */
    padding-right: 30px; /* Padding to avoid text overlapping with the button */
  }
  
  .toggle-password {
    position: absolute;
    right: 50px; /* Adjust this to position the button closer to the input field edge */
    top: 12%;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 11;
  }

  .input-group{
    max-width: 70%;
  }
  
}

@media screen and (max-width:844px) {
    input[type=email]{
        margin: 0 2rem 1rem 2rem;
        width:70%;
        font-size: 16px;
    }
    
    input[type=password]{
        margin: 0 2rem 1rem 2rem;
        width:70%;
        font-size: 16px;
    }

    input[type=text]{
      margin: 0 2rem 1rem 2rem;
      width:70%;
      font-size: 16px;
    }
    
    
    mat-spinner{
        display: flex;
        margin: auto;
    }
    
    mat-card{
        height:100%;
    }
    
    button{
        margin: 1rem;
        width: 70%;
        font-size: 16px;
    }
    
    h1{
        text-align: center;
        margin: 15%;
        color: #c05938;
        letter-spacing: 2px;
        font-size: 56px;
        font-style: bold;
    }
    
    .imagee{
      background-image: url("/assets/login1.png");
      background-size:cover;
    }

    
    .loginForms{
        background-color: #f8f7f2;
        margin-top: 15%;
    }
    
    .inputLabels{
        color:#c05938;
        font-size: 16px;
    }
    
    .btn-colour-1 {
        color: #fff;
        background-color: #c05938;
        border-color: #c05938;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius: 4;
      }
      
      .btn-colour-1:hover,
      .btn-colour-1:active,
      .btn-colour-1:focus,
      .btn-colour-1.active {
        /* let's darken #004E64 a bit for hover effect */
        background: #aa5032;
        color: #ffffff;
        border-color: #aa5032;
      }
    
      a{
        color:#c05938;
        text-decoration: underline;
      }
    
      .registerLabel{
        font-size: 16px;
        color: #c05938;
        margin-bottom: 30%;
      }

      .innerLogin{
        height: 50vh;
      }

      .position-relative {
        position: relative;
        display: inline-block; /* Makes the container fit the content */
      }
      
      .password-input {
        width: calc(100% - 40px); /* Adjust the width to leave space for the button */
        padding-right: 30px; /* Padding to avoid text overlapping with the button */
      }
      
      .toggle-password {
        position: absolute;
        left: 50%; /* Adjust this to position the button closer to the input field edge */
        transform: translateY(-40%);
        border: none;
        background: none;
        cursor: pointer;
        z-index: 11;
      }
    }
    