@media screen and (min-width:844px) {
input[type="file"]{
    visibility: hidden;
}

.btn-colour-1 {
    color: #fff;
    background-color: #D67AB1;
    border-color: #D67AB1;
    letter-spacing: 0.05em;
    border-radius: 4;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #f391cc;
    color: #000;
    border-color: #f391cc;
  }

.btn-colour-2 {
    color: #fff;
    background-color: #c05938;
    border-color: #c05938;
    letter-spacing: 0.05em;
    border-radius: 4;
  }
  
  .btn-colour-2:hover,
  .btn-colour-2:active,
  .btn-colour-2:focus,
  .btn-colour-2.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #da6b46;
    color: #000;
    border-color: #da6b46;
  }

  .image-preview{
    margin: 1rem 0;
}

.image-preview img{
    height: 100%;
}

}

@media screen and (max-width:844px) {
  input[type="file"]{
      visibility: hidden;
  }

  h1{
    font-size: 16px;
  }
  
  .btn-colour-1 {
      color: #fff;
      background-color: #D67AB1;
      border-color: #D67AB1;
      letter-spacing: 0.05em;
      border-radius: 4;
    }
    
    .btn-colour-1:hover,
    .btn-colour-1:active,
    .btn-colour-1:focus,
    .btn-colour-1.active {
      /* let's darken #004E64 a bit for hover effect */
      background: #f391cc;
      color: #000;
      border-color: #f391cc;
    }
  
  .btn-colour-2 {
      color: #fff;
      background-color: #c05938;
      border-color: #c05938;
      letter-spacing: 0.05em;
      border-radius: 4;
      font-size: 12px;
      width: auto;
    }
    
    .btn-colour-2:hover,
    .btn-colour-2:active,
    .btn-colour-2:focus,
    .btn-colour-2.active {
      /* let's darken #004E64 a bit for hover effect */
      background: #da6b46;
      color: #000;
      border-color: #da6b46;
    }
  
    .image-preview{
      margin: 1rem 0;
  }
  
  .image-preview img{
      height: 100%;
  }
  }