<div class="container-fluid">
  <div class="row">
    <div class="row align-items-center">
      <div class="col-md-3 col-6">
      <h1>About Us</h1>
    </div>
    <div class="col-md-9 col-6">
      <hr class="border border-danger border-2 opacity-75" />
    </div>
    </div>
    
    <div class="col-md-1">
      <img src="/assets/aboutus/aboutusleftside.png" alt="" class="leftAboutUs" />
    </div>
    <div class="col-md-10 col-12">
      <div class="d-flex justify-content-center">
        <img src="/assets/aboutus/aboutus.png" alt=""  class="middleAboutUs" />
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <div class="d-flex">
            <h2 class="mb-4">Our Story</h2>
          </div>
          <div class="d-flex">
            <p class="aboutusText1">
              Fedici is a brand born from a sister's love. It is a momento for
              Fides, the owner's sister who passed a few years back. The owner
              wishes to share Fides' great love for cheesecakes and hopefully
              bring more smiles to those who experience it.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div class="d-flex justify-content-end">
            <img src="/assets/aboutus/aboutuscake.png" alt="" class="middleAboutUs2"/>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <img src="/assets/aboutus/aboutuseoneliner.png" alt="" style="width: 100%" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 visionText col-12">
          <h2 class="mb-4">Our Vision</h2>
          <p class="aboutusText3">
            To continue being a premium cheesecake in the Philippines in the
            next three years
          </p>
          <div class="d-flex">
            <img
              src="/assets/aboutus/aboutusrectangle.png"
              alt=""
              class="rectangleAboutUs"
            />
          </div>
        </div>
        <div class="col-md-6 missionText col-12">
          <h2 class="aboutusHeading1 mb-4">Our Mission</h2>
          <p class="aboutusText2 mb-5">
            Our mission is to carry on the essence of celebrating no matter the
            challenges encountered in achieving that milestone.
          </p>
          <div class="d-flex justify-content-end">
            <img
              src="/assets/aboutus/aboutusbottompic.png"
              alt=""
              class="circleAboutUs"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <img src="/assets/aboutus/aboutusrightside1.png" alt="" class="rightAboutUs"/>
      <img src="/assets/aboutus/aboutusrightside2.png" alt="" class="rightAboutUs"/>
    </div>
  </div>
</div>
