@media screen and (min-width: 844px) {
  hr{
    border-color: #c05938;
    background-color: #c05938;
    height: 5px;
    opacity: 1;
  }

  h1 {
    font-size: 48px;
    color: #c05938;
    margin: 5%;
  }

  h4 {
    /* font-size: 32px; */
    color: #181818;
  }

  h4 b {
    /* font-size: 32px; */
    color: #d67ab1;
  }

  h3 {
    color: #c05938;
  }

  img {
    max-width: 100%;
  }

  .rectangleMoments {
    border-radius: 15px;
    border: #a3a3a3;
    border-width: 1px;
    border-style: solid;
    padding: 0.5rem;
  }

  input[type="number"] {
    max-width: 100%;
  }

  mat-spinner {
    margin: auto;
  }
  .imageContainer {
    width: 100%; /* Width relative to the parent container */
    padding-top: 100%; /* Padding top equal to the width creates a square */
    position: relative; /* Needed for absolute positioning of the image */
  }
  
  .productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the square, may crop the image */
    border-radius: 10px;
  }
}

@media screen and (max-width: 844px) {
  hr{
    border-color: #c05938;
    background-color: #c05938;
    height: 3px;
    opacity: 1;
  }

  h1 {
    font-size: 24px;
    color: #c05938;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
  }

  h4 {
    font-size: 16px;
    color: #181818;
  }

  h4 b {
    font-size: 16px;
    color: #d67ab1;
  }

  h3 {
    font-size: 18px;
    color: #c05938;
  }
  h5 {
    font-size: 14px;
  }

  img {
    max-width: 0%;
  }

  .rectangleMoments {
    border-radius: 15px;
    border: #a3a3a3;
    border-width: 1px;
    border-style: solid;
    padding: 0.5rem;
  }

  input[type="number"] {
    max-width: 100%;
  }

  .product-desc {
    display: none;
  }

  mat-spinner {
    margin: auto;
  }
}
