.table-container {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.table-container td,
.table-container th {
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-container th {
  background-color: #d67ab1;
  color: #fff;
}

.table-container .item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.orderTable{
  font-size: 14px;
}

.table-container button{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c05938; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}