.table-container {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.table-container td,
.table-container th {
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-container th {
  background-color: #d67ab1;
  color: #fff;
}

.table-container .item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.table-container {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
