<div class="container-fluid">
  <div class="row align-items-center">
      <div class="col-md-3 col-9">
          <h1 class="prodDetails">My Orders</h1>
      </div>
      <div class="col-md-9 col-3">
          <div class="flex-grow-1 hrr">
              <hr class="border border-danger border-2 opacity-75" />
          </div>
      </div>
  </div>
</div>
<div class="orderTable px-5 pt-3">
<div class="container-fluid">
  <div class="row align-items-center">
      <div class="col-md-3 col-9">
          <h1 class="prodDetails">My Orders</h1>
      </div>
      <div class="col-md-9 col-3">
          <div class="flex-grow-1 hrr">
              <hr class="border border-danger border-2 opacity-75" />
          </div>
      </div>
  </div>
</div>
<div class="orderTable px-4 pt-3">
  <ng-container *ngIf="(orders$ | async)?.length === 0; else table">
    <div class="py-5 d-flex justify-content-center"><h3>No orders yet</h3></div>
  </ng-container>
  <ng-template #table>
    <div class="table-responsive table-container">
      <table class="table mb-0 table-striped">
        <thead>
          <tr class="text-nowrap">
            <th scope="col">Order Id</th>
            <th scope="col">Order Type</th>
            <th scope="col">Order Status</th>
            <th scope="col">Claim Date</th>
            <th scope="col">Items</th>
            <th scope="col">Build-Your-Own Cake</th>
            <th scope="col">Item Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Checkout Amount</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Checkout Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-nowrap" *ngFor="let order of orders$ | async">
            <td class="">{{ order._id }}</td>
            <td>{{ order.orderType }}</td>
            <td>{{ order.orderStatus }}</td>
            <td class="date-data">{{ getFormattedDate(order?.claimDate) }}</td>
            <td>
              <ng-container *ngFor="let item of order.cartItems">
                <div class="item text-bold">
                  {{ item.name }} ({{ item.size }})
                </div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let item of order.cartItems">
                <div class="item text-bold">{{ item.description }}</div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let item of order.cartItems">
                <div class="item text-bold">{{ item.price }}</div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let item of order.cartItems">
                <div class="item text-bold">{{ item.quantity }}</div>
              </ng-container>
            </td>
            <td>{{ order.totalPrice }}</td>
            <td>{{ order.discount }}</td>
            <td>{{ order.checkoutAmount }}</td>
            <td>{{ order.paymentStatus }}</td>
            <td class="date-data">{{ getFormattedDate(order.createdAt) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
