:host {
  display: block;
  height: calc(100vh - 10px);
}

.table-container {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.table-container th {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #d67ab1;
    color: white;
}

.table-container td{
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #d67ab1;
    color: white;
}

.table-container td{
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-container .item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.table-container .date-data {
  white-space-collapse: break-spaces;
  text-wrap: balance;
  max-width: 150px;
}

hr{
  border-color: #c05938;
  margin-right: 2%;
}

h1{
  font-size: 46px;
  color:#c05938;
}
.prodDetails{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.orderTable{
  font-size: 14px;
}