:host {
  display: block;
  height: calc(100vh - 10px);
}

.table-container {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  border-top-left-radius: 10px;   
  border-top-right-radius: 10px;   
}

.table-container th {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #d67ab1;
    color: white;
}

.table-container td{
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-container td{
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-container .item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.table-container .date-data {
  white-space-collapse: break-spaces;
  text-wrap: wrap;
}

hr{
  border-color: #c05938;
  background-color: #c05938;
  height: 5px;
  opacity: 1;
}

h1{
  font-size: 46px;
  color:#c05938;
}
.prodDetails{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.orderTable{
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #696969; 
}

h3{
  color: #c05938;
}

@media screen and (max-width: 844px) {  
  hr{
    border-color: #c05938;
    background-color: #c05938;
    height: 3px;
    opacity: 1;
  }
  
  h1{
    font-size: 24px;
    color:#c05938;
  }
  }