<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <div class="container-fluid min-vh-100">
      <div class="row">
        <div class="d-flex imagee col-lg-7">
          <div class="grow-1"></div>
        </div>
        <div class="signupForms col-lg-5">
          <h1>SIGN UP</h1>
          <h4>User Details</h4>
          <div class="d-flex">
            <div class="col-lg-6">
              <label class="inputLabels form-label"
                ><b>First&nbsp;Name:</b></label
              >
              <input
                type="text"
                name="firstname"
                ngModel
                placeholder="Juan"
                #firstNameInput="ngModel"
                required
                class="form-control"
                tabindex="1"
              />
              <label class="inputLabels form-label"
                ><b>E-mail Address:</b></label
              >
              <input
                type="email"
                name="email"
                ngModel
                placeholder="E-mail Address (e.g. juandelacruz@gmail.com)"
                #emailInput="ngModel"
                required
                email
                class="form-control"
                tabindex="3"
              />
              <label class="inputLabels form-label"><b>Password:</b></label>
              <input
                type="password"
                name="password"
                ngModel
                placeholder="Password"
                #passwordInput="ngModel"
                class="form-control"
                required
                tabindex="5"
              />
            </div>

            <div class="col-lg-6">
              <label class="inputLabels form-label"
                ><b>Last&nbsp;Name:</b></label
              >
              <input
                type="text"
                name="lastname"
                ngModel
                placeholder="De La Cruz"
                #lastNameInput="ngModel"
                required
                class="form-control"
                tabindex="2"
              />
              <label class="inputLabels form-label"
                ><b>Contact Number:</b></label
              >
              <input
                type="number"
                name="contactnumber"
                ngModel
                placeholder="e.g. 09060249251"
                #contactNumberInput="ngModel"
                required
                class="form-control"
                tabindex="4"
              />

              <label class="inputLabels form-label"
                ><b>Confirm Password:</b></label
              >
              <input
                type="password"
                name="confirmpassword"
                ngModel
                placeholder="Confirm Password"
                #confirmPasswordInput="ngModel"
                required
                class="form-control"
                tabindex="6"
              />
              <!-- <input
                type="password"
                name="confirmpassword"
                [(ngModel)]="confirmPassword"
                placeholder="Confirm Password"
                required
                class="form-control"
                tabindex="6"
              /> -->
            </div>
          </div>
          <div class="col-lg-12" *ngIf="signupForm.value.confirmpassword !== signupForm.value.password" style="margin: 1rem; color: red;">
            Passwords do not match.
          </div>
          <h4 class="mt-4">Address Details</h4>
          <div class="d-flex">
            <div class="col-lg-6">
              <label class="inputLabels form-label"><b>City:</b></label>
              <input
                type="text"
                name="city"
                ngModel
                placeholder="e.g. Carmona"
                #cityInput="ngModel"
                required
                class="form-control"
                tabindex="7"
              />
            </div>
            <div class="col-lg-6">
              <label class="inputLabels form-label"><b>Province:</b></label>
              <input
                type="text"
                name="province"
                ngModel
                placeholder="e.g. Cavite"
                #provinceInput="ngModel"
                required
                class="form-control"
                tabindex="8"
              />
            </div>
          </div>
          <div class="col-lg-12">
            <label class="inputLabels form-label"
              ><b>Block/Lot/Street:</b></label
            >
            <input
              type="text"
              name="bls"
              ngModel
              placeholder="e.g. B17 L4 Phase 1"
              #blsInput="ngModel"
              required
              class="form-control blsTxt"
              tabindex="9"
            />
            <label class="inputLabels form-label"
              ><b>Subdivision/Village:</b></label
            >
            <input
              type="text"
              name="subdivision"
              ngModel
              placeholder="e.g. Canyon Ranch"
              #subdivisionInput="ngModel"
              class="form-control subdivTxt"
              required
              tabindex="10"
            />
            <label class="inputLabels form-label"><b>Postal Code:</b></label>
            <input
              type="number"
              name="postalcode"
              ngModel
              placeholder="e.g. 4116"
              #postalcodeInput="ngModel"
              required
              class="form-control postalTxt"
              tabindex="11"
            />
          </div>

          <div class="d-flex justify-content-center">
            <button
              class="btn btn-colour-1 mt-4"
              type="submit"
              *ngIf="!isLoading"
              tabindex="12"
            >
              Signup
            </button>
          </div>
        </div>
      </div>
    </div>
</form>
